.players-container {
   max-width: 50rem;
   margin-left: auto !important;
   margin-right: auto !important;
  .draw {
    font-size: 1.rem;
    margin:2rem;
  }
  .player {
    margin:2rem;
    height: 4rem;
    background-color: #00bfa5;
    color: white;
    font-size: 1.5rem;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px #888888;
    width: 88%;
    -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;  }

  @media (max-width: 768px) {
    .set {
      background-color: #eeeeee;
      color: #424242;
      height: 2.5rem;
      width: 10rem;
      cursor: pointer;
      border-radius: 2rem;
      box-shadow: 10px 10px 5px #888888;
      font-size: 1rem;
      font-weight: bold;
      &:hover {
        background-color: #e0e0e0;
      }
    }
  }

  @media (min-width: 768px) {
    .set {
      background-color: #eeeeee;
      color: #424242;
      height: 5rem;
      width: 10rem;
      cursor: pointer;
      border-radius: 2rem;
      box-shadow: 10px 10px 5px #888888;
      font-size: 1rem;
      font-weight: bold;
      &:hover {
        background-color: #e0e0e0;
      }
    }
  }

  .errormessage {
    background-color: #ef5350;
    color: white;
    padding: 1.6rem;
    opacity: 0;
    height: 0;
    min-height: 1.5rem;
    font-weight: bold;
    min-width: 80%;
    &.-show {
      opacity: 1;
      -webkit-transition: all 0.3s ease ;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease-in;
      transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }
}
