.html {
  padding: 4px;
}


.tictac-square {
  background-color: #fb8c00;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  color: white;
  border-radius: 1rem;
  box-shadow: 10px 10px 5px #888888;
  position: relative;

  > .draw i {
    font-size: 6rem;
    top: ~"calc(50% - 80)";
    left: ~"calc(50% - 80)";
    position: absolute;
    font-size: 10em;
  }


}
