.html {
  padding: 4px;
}

.main-container {
  width: 629px;
  padding-top: 2rem;
  margin-left: auto !important;
  margin-right: auto !important;
}

.tictac-square {
  background-color: #fb8c00;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  color: white;
  border-radius: 1rem;
  box-shadow: 10px 10px 5px #888888;
  position: relative;

  > .draw i {
    font-size: 6rem;
    top: ~"calc(50% - 80)";
    left: ~"calc(50% - 80)";
    position: absolute;
    font-size: 10em;
  }

  &:hover {
    background-color: #ffa726;
  }

  &.drawed {
    background-color: #ef6c00;
  }

}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 33%;
  align-self: flex-end;
  margin-bottom: 1rem;
}
