.winner-message {

  background-color: #ffa726;
  box-shadow: 10px 10px 5px #888888;
  width:70%;
  margin: auto;
  height: 4rem;
  position: relative;
  border-radius: 2rem;
  .winner {
    color: #ffffff;
    position: absolute;
    padding-left: 2rem;
  }
}
